@import url('https://fonts.googleapis.com/css?family=Archivo:400,400i,500,500i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i&display=swap');
:root {
    --dark-grey-blue: #2e3a52;
    --pumpkin-orange: #fc8400;
    --blueberry: #614fa2;
    --pale-grey: #f3f1f8;
    --light-grey-blue: #9dabc8;
    --pale-grey-two: #eff5f8;
    --white: #ffffff;
}

*{
    -moz-transition: all .15s ease-out;
    -webkit-transition: all .15s ease-out;
    -ms-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out;
    outline: 0;
    font-family: Archivo;
}
h2{
    font-family: Poppins;
    font-size: 22px;
    font-weight: 600;
}
h3{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
}
.container-fluid{
    max-width: 1454px;
}

    /*********HEADER************/

header{
    height: 48px;
}
header .container-fluid{
    padding:0;
}
header .container-fluid #logo-container{
    position: relative;
    z-index: 99;
    height: 100%;
    width: 100%;
    background-color: var(--white);
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.21);
}
header .container-fluid #logo-container a#logo{
    display: inline-block;
    height: 100%;
}
header .container-fluid #logo-container a#logo img{
    height: 48px;
}
header .container-fluid div#button-menu{
    z-index: 999;
    position: absolute;
    top:15px;
    left: 25px;
    height: 19px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
}
header.opened .container-fluid div#button-menu {
    justify-content: normal;
}
header .container-fluid div#button-menu span{
    opacity: 1;
    display: block;
    background-color: var(--dark-grey-blue);
    width: 24px;
    height: 3px;
    border-radius: 3px;
}
header .container-fluid div#button-menu:hover span{
    background-color: var(--pumpkin-orange);
}
header.opened .container-fluid div#button-menu span{
    opacity: 0;
    width: 0px;
    position: relative;
}
header.opened .container-fluid div#button-menu span:first-child{
    opacity: 1;
    top:6px;
    width: 27px;
    transform: rotate(45deg);
}
header.opened .container-fluid div#button-menu span:last-child{
    opacity: 1;
    width: 27px;
    transform: rotate(-45deg);
}
header .container-fluid nav{
    z-index: 9;
    padding-top :48px;
    top:-100vh;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: var(--pale-grey-two);
}
header.opened .container-fluid nav{
    top:0;
}

header .container-fluid nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
header .container-fluid nav ul li{
    width: 70vw;
    min-width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 54px;
    border-bottom: 1px solid var(--white);
}
header .container-fluid nav ul li a{
    text-align: center;
    display: inline;
    color:var(--dark-grey-blue);
}
header .container-fluid nav ul li a:hover{
    color:var(--pumpkin-orange);
    text-decoration: none;
}

@media (min-width:768px) {

    header{
        height: 120px;
        background-color: white;
    }
    header .container-fluid{
        padding:0 15px;
    }
    header .container-fluid #logo-container{
        position: relative;
        z-index: 99;
        height: 100%;
        width: 20vw;
        max-width: 378px;
        background-color: transparent;
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
    }
    header .container-fluid  #logo-container a#logo img{
        height: auto;
        width: 100%;
    }
    header .container-fluid  nav{
        padding-top :0;
        top:0;
        position: relative;
        height: 100%;
        background-color: transparent;
        width: 100%;
        max-width: 550px;
    }
    header.opened .container-fluid nav{
        top:0;
    }
    header .container-fluid  nav ul li{
        height: auto;
        width: auto;
        min-width: auto;
    }
    header .container-fluid  nav ul li a{
        font-size: 12px;
    }

}

@media (min-width:992px) {
    header {
        height: 140px;
    }
    header .container-fluid #logo-container {
        width: 25vw;
        max-width: 378px;
    }
    header .container-fluid nav {
        max-width: 680px;
    }
    header .container-fluid nav ul li a {
         font-size: 15px;
    }
}
@media (min-width:1300px) {
    header {
        height: 190px;
    }
    header .container-fluid nav {
        max-width: 900px;
    }
    header .container-fluid nav ul li a {
        font-size: 20px;
    }
}
