/*__________________Frank___________________*/

.footerDesktop {
    display: block;
}

.footerMobile {
    display: none;
}

@media screen and (max-width: 700px) {
    .footerDesktop {
        display: none;
    }
    .footerMobile {
        display: block;
    }
}

.fomuFloat {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 20%;
    max-height: 55%;
    border-radius: 0px 16px 16px 0px;
    box-shadow: 0 2px 10px 0 #9dabc8;
    background-color: #fff;
    bottom: 0px;
    top: 20%;
    left: 0px;
    min-width: 220px;
    max-height: 420px;

}

.fomuFloat::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    display: none;
}

.title-formFloat {
    font-family: Archivo;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: center;
    color: #614fa2;
}

.text-formFloat {
    font-family: Archivo;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: center;
    color: #565656;
}

.select-formFloat {
    font-family: Archivo;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: italic;
    line-height: normal;
    letter-spacing: normal;
    color: #565656;
}

.terminos-formFloat {
    font-family: Archivo;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    color: #565656;
}

.itemGlosario {
    background-color: #EFF5F8;
    color: #9DABC8;
    font-family: Poppins;
    font-size: 40px;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
}

.title-company {
    font-family: Archivo;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: #565656;
    text-transform: uppercase;
}

.description-company {
    font-family: Archivo;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: #565656;
}

.description-company-mobile {
    color: #2E3A52;
    font-family: Archivo;
    font-size: 15px;
    line-height: 23px;
    text-align: left;/*cambio alineacion*/
}

.btn-morado {
    color: white;
    font-size: 18px;
    max-width: 90% !important;
    min-height: 48px;
    border-radius: 24px;
    text-transform: uppercase;
    background-color: #614FA2;
}

.title-item1 {
    color: #614FA2;
    font-family: Poppins;
    font-size: 24px;
    font-style: italic;
    font-weight: 600;
    line-height: 35px;
    text-align: center;
}

.title-item {
    color: #614FA2;
    font-family: Poppins;
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
    line-height: 27px;
    text-align: center;
}

.title-item2 {
    color: #2E3A52;
    font-family: Poppins;
    font-size: 14px;
    font-style: italic;
    font-weight: 600;
    line-height: 21px;
    text-align: left;/*cambio alineacion*/
}

.title-itemGlosary {
    color: #614FA2;
    font-family: Poppins;
    font-size: 32px;
    font-style: italic;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
}

.hrCompany {
    color: #D2D2D2;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
    width: 80%
}

.cardComparator {
    box-sizing: border-box;
    border: 1px solid #614FA2;
    border-radius: 16px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 10px 0 #9DABC8;
}

.numbrePrice {
    color: #614FA2;
    font-family: Poppins;
    font-size: 35px;
    font-style: italic;
    font-weight: 600;
    line-height: 53px;
}

.pPrice {
    margin-block-start: -10px;
    margin-block-end: -10px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.pLlamada {
    color: #2E3A52;
    font-family: Archivo;
    font-size: 15px;
    line-height: 26px;
}

.pIconCard {
    color: #565656;
    font-family: Archivo;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
}

.circleCard {
    height: 120px !important;
    width: 120px !important;
    top: -10% !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    margin: auto !important;
    position: absolute !important;
    background: #614FA2 !important;
    border-radius: 70px !important;
    padding: 27px 16px !important;
}

.lineaCard {
    position: relative !important;
    background: linear-gradient(180deg, #614FA2 0%, #2E3A52 100%) !important;
    height: 71px !important;
}

.precioCard {
    color: #FFFFFF;
    font-family: Archivo;
    font-size: 10px;
    text-align: center;
}

.selectComparator {
    color: #565656;
    font-family: Archivo;
    font-size: 18px;
    font-style: italic;
    line-height: 26px;
    text-align: center;
}

@media screen and (max-width: 575px) {
    .description-company {
        color: #2E3A52;
        font-family: Archivo;
        font-size: 15px;
        line-height: 23px;
        text-align: left;
    }
    .title-company {
        color: #2E3A52;
        font-family: Archivo;
        font-size: 15px;
        line-height: 23px;
        text-align: center;
    }
    .title-itemGlosary {
        color: #2E3A52;
        font-family: Poppins;
        font-size: 22px;
        font-style: italic;
        font-weight: 600;
        line-height: 33px;
        text-align: center;
    }
    .description-company-detail {
        color: #2E3A52;
        font-family: Poppins;
        font-size: 22px;
        font-style: italic;
        font-weight: 600;
        line-height: 33px;
        text-align: center;
    }
    .selectComparator {
        color: #2E3A52;
        font-family: Archivo;
        font-size: 15px;
        font-style: italic;
        line-height: 26px;
    }
}
.client-logo{/* border redondeado section*/
border-radius: 0px !important
}


/*____________________________________________*/